<div class="row">
  <div class="col-md-4">
  {{#each projects}}
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{project.title}}</h4>
        <p class="card-text">{{project.description}}</p>
      </div>
    </div>
  {{/each}}
  </div>
</div>
