<style>
body {
    padding-top: 220px;
    background-image:url(https://images.unsplash.com/photo-1544767799-e095aa926feb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80);
    background-size: 100%;
    color: #191f34;
}
.my-button {
  width: 100%;
  background-color: #191f34;
}

.my-button:hover {
  background-color: white;
  color: #191f34;
}

</style>

<div class="container">
    <div class="row justify-content-md-center">
        {{#if currentUser}}
            <form method="POST" action="/projects/new" class="col-md-6">
              <input type='hidden' value='{{currentUser._id}}'>
              <div class="form-group">
                  <h4>Create Project</h4>
                  <br>
                <label for="title">Project Title</label>
                <input type="text" class="form-control" id="title" name="title"  placeholder="Project title">
              </div>
              <div class="form-group">
                <label for="Description">Project Description</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Enter Project Description">
              </div>
              <div class="form-group">
                <label for="developer-needed">Developer Needed</label>
                <input type="text" class="form-control" id="developerNeeded" name="developerNeeded" placeholder="Developers Needed">
              </div>
              <button type="submit" class="btn btn-primary my-button">Submit</button>
            </form>
        {{else}}
        <br><br><br><br><br>
        <h2>How'd you get here??? You're not authenticated! Log in and try again.</h2>
        {{/if}}
    </div>
</div>
