<br>
<div class="container">
    <div class="row justify-content-md-center">

      <div class="col-md-8">
        <div class="card mb-6 box-shadow">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-text">{{}}</h4>
            <p class="card-text">{{}}</p>
            <p class="card-text">{{}}</p>

            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <form action="/user/{{}}/edit" method="GET">
                    <button type="submit"  class="btn btn-sm btn-info">Edit</button>
                    <button type="submit" formaction="/users/{{}}?_method=DELETE" class="btn btn-sm btn-outline-info">Delete</button>
              </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
</div>
